/* Header */

.header {
  color: white;
  background-blend-mode: darken;
  font-family: Raleway;
}

.header .jumbotron {
  background-image: url("../images/header.png");
  background-color: black;
  background-blend-mode: screen;
}

.header .jumbotron h1 {
  font-size: 100px;
  text-shadow: black;
}

.header .jumbotron p {
  font-weight: 600;
  text-shadow: black;
}

.header .jumbotron .glyphicon-leaf {
  font-size: 30px;
  margin-left: 10px;
}
